<p>Empty order form:</p>

<form method="POST" action="/pizza-orders">
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" name="first_name">
  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" name="last_name">
  <label for="topping">Topping:</label>
  <select name="topping" id="topping">
    <option style="diplay:none">-</option>
    <option value="pepperoni">Pepperoni</option>
    <option value="hawaian">Hawaian</option>
    <option value="veggie">veggie</option>
  </select>
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity">
  <input type="submit" value="Order Pizza!">
</form>
